---
import Item from "./Item.astro";

const svgs = [
  {
    viewBox: "70.1415 279.927 719 53.03",
    path: "M 81.8605 325.6279 C 81.2403 325.6279 78.8838 325.6279 78.1396 325.6279 C 77.3954 325.6279 76.7752 326.3721 77.3954 325.6279 C 78.0155 324.8837 79.5039 323.0233 81.8605 321.1628 C 84.2171 319.3023 88.062 316.6977 91.5349 314.4651 C 95.0078 312.2325 98.7287 310.248 102.6977 307.7674 C 106.6667 305.2868 111.1319 302.062 115.3489 299.5814 C 119.566 297.1008 123.7829 294.8682 128 292.8837 C 132.2171 290.8992 136.6822 288.5426 140.6512 287.6744 C 144.6202 286.8062 149.0853 286.5581 151.814 287.6744 C 154.5427 288.7907 156.1551 291.6434 157.0233 294.3721 C 157.8915 297.1008 156.8993 301.0698 157.0233 304.0465 C 157.1473 307.0232 157.2714 309.8759 157.7675 312.2325 C 158.2636 314.5891 159.0077 316.4495 160 318.186 C 160.9923 319.9224 162.2326 321.4109 163.721 322.6512 C 165.2094 323.8915 166.9458 325.7519 168.9303 325.6279 C 170.9148 325.5039 173.0233 323.3954 175.6279 321.907 C 178.2326 320.4186 181.2094 318.5582 184.5582 316.6977 C 187.907 314.8372 191.752 312.7287 195.721 310.7442 C 199.69 308.7597 204.2791 306.4031 208.3721 304.7907 C 212.4651 303.1783 216.1861 301.69 220.2791 301.0698 C 224.3721 300.4496 229.4574 300.4496 232.9303 301.0698 C 236.4032 301.69 238.8837 303.1783 241.1163 304.7907 C 243.3488 306.4031 244.5892 308.7597 246.3256 310.7442 C 248.062 312.7287 249.9225 315.0853 251.5349 316.6977 C 253.1473 318.3101 254.1395 319.4264 256 320.4186 C 257.8605 321.4109 260.5892 322.2791 262.6977 322.6512 C 264.8062 323.0233 265.7985 323.3954 268.6512 322.6512 C 271.5039 321.907 276.3411 319.7984 279.814 318.186 C 283.2869 316.5736 286.3876 314.341 289.4884 312.9767 C 292.5892 311.6124 295.6899 310.4961 298.4186 310 C 301.1473 309.5039 303.6279 309.6279 305.8605 310 C 308.0931 310.3721 309.7055 311.1162 311.814 312.2325 C 313.9225 313.3488 316.2792 315.3333 318.5117 316.6977 C 320.7443 318.062 323.3488 319.4264 325.2093 320.4186 C 327.0697 321.4109 328.062 322.2791 329.6744 322.6512 C 331.2868 323.0233 333.0233 322.8993 334.8838 322.6512 C 336.7443 322.4031 338.6048 322.031 340.8373 321.1628 C 343.0699 320.2946 345.5504 319.0543 348.2791 317.4419 C 351.0078 315.8295 353.6124 313.4728 357.2093 311.4883 C 360.8062 309.5038 366.3876 306.4031 369.8605 305.5349 C 373.3334 304.6667 376.3101 305.4109 378.0465 306.2791 C 379.7829 307.1473 379.783 309.3799 380.2791 310.7442 C 380.7752 312.1085 380.6512 313.3488 381.0233 314.4651 C 381.3954 315.5814 381.5195 316.9458 382.5117 317.4419 C 383.504 317.938 385.2404 317.814 386.9768 317.4419 C 388.7132 317.0698 390.0776 316.5736 392.9303 315.2093 C 395.783 313.8449 400.7443 310.9922 404.0931 309.2558 C 407.4419 307.5194 410.2946 305.783 413.0233 304.7907 C 415.752 303.7985 417.9846 303.3023 420.4652 303.3023 C 422.9458 303.3023 425.3023 303.6744 427.907 304.7907 C 430.5116 305.907 432.4962 308.0155 436.0931 310 C 439.69 311.9845 445.3954 315.0853 449.4884 316.6977 C 453.5814 318.3101 457.1783 319.1783 460.6512 319.6744 C 464.1241 320.1705 466.8527 320.0465 470.3256 319.6744 C 473.7985 319.3023 477.7675 318.6822 481.4884 317.4419 C 485.2093 316.2016 488.9303 314.217 492.6512 312.2325 C 496.3721 310.248 500.0931 307.6434 503.814 305.5349 C 507.5349 303.4264 512.1241 300.5736 514.9768 299.5814 C 517.8295 298.5891 519.4419 298.8372 520.9303 299.5814 C 522.4187 300.3256 522.9148 302.6822 523.907 304.0465 C 524.8993 305.4108 525.8915 306.8992 526.8838 307.7674 C 527.876 308.6356 528.4962 308.8837 529.8605 309.2558 C 531.2248 309.6279 533.0853 310.2481 535.0698 310 C 537.0543 309.7519 538.9148 308.8837 541.7675 307.7674 C 544.6202 306.6511 549.0853 304.4186 552.1861 303.3023 C 555.2869 302.186 557.5194 301.4419 560.3721 301.0698 C 563.2248 300.6977 565.8294 300.5737 569.3023 301.0698 C 572.7752 301.5659 575.7519 302.8062 581.2093 304.0465 C 586.6667 305.2868 595.969 307.5193 602.0465 308.5116 C 608.124 309.5038 611.2249 310.2481 617.6745 310 C 624.1241 309.7519 634.1706 308.3875 640.7442 307.0232 C 647.3178 305.6589 651.783 303.5504 657.1163 301.814 C 662.4496 300.0776 667.783 298.217 672.7442 296.6046 C 677.7054 294.9922 682.0466 292.7597 686.8838 292.1395 C 691.721 291.5193 696.8063 291.6434 701.7675 292.8837 C 706.7287 294.124 710.0776 296.7287 716.6512 299.5814 C 723.2248 302.4341 734.2636 307.6434 741.2093 310 C 748.155 312.3566 752.9923 313.2248 758.3256 313.7209 C 763.6589 314.217 769.2403 313.8449 773.2093 312.9767 C 777.1783 312.1085 780.6512 309.2558 782.1396 308.5116",
  },
  {
    viewBox: "49.5459 249.589 986.7 83.53",
    path: "M 59.5349 325.6279 C 59.0388 325.6279 56.5582 326.7442 56.5582 325.6279 C 56.5582 324.5116 56.1861 322.155 59.5349 318.9302 C 62.8837 315.7054 70.6977 310.6202 76.6512 306.2791 C 82.6047 301.938 88.5581 298.217 95.2558 292.8837 C 101.9535 287.5504 110.7597 279.3644 116.8372 274.2791 C 122.9147 269.1938 127.5039 265.2248 131.721 262.3721 C 135.9381 259.5194 139.535 257.783 142.1396 257.1628 C 144.7442 256.5426 146.7287 255.7985 147.3488 258.6512 C 147.969 261.5039 146.6047 268.9458 145.8605 274.2791 C 145.1163 279.6124 143.3798 285.3179 142.8837 290.6512 C 142.3876 295.9845 142.0155 302.6822 142.8837 306.2791 C 143.7519 309.876 145.8604 311.1162 148.093 312.2325 C 150.3256 313.3488 152.4341 313.3488 156.2791 312.9767 C 160.1241 312.6046 165.0853 311.4884 171.1628 310 C 177.2403 308.5116 184.6822 306.5271 192.7442 304.0465 C 200.8062 301.5659 211.845 296.9768 219.5349 295.1163 C 227.2248 293.2558 233.4263 292.6356 238.8837 292.8837 C 244.3411 293.1317 246.9458 295.2403 252.2791 296.6046 C 257.6124 297.969 263.3178 299.8295 270.8837 301.0698 C 278.4496 302.3101 286.3876 303.5504 297.6744 304.0465 C 308.9612 304.5426 325.5814 304.1705 338.6047 304.0465 C 351.628 303.9225 360.8063 303.6744 375.814 303.3023 C 390.8218 302.9302 412.8993 302.062 428.6512 301.814 C 444.4031 301.566 455.69 301.4419 470.3256 301.814 C 484.9613 302.1861 500.3411 302.5581 516.4651 304.0465 C 532.5891 305.5349 549.0853 308.5116 567.0698 310.7442 C 585.0543 312.9768 601.5504 315.4574 624.3721 317.4419 C 647.1938 319.4264 677.9535 321.2869 704 322.6512 C 730.0465 324.0155 758.4497 325.1318 780.6512 325.6279 C 802.8528 326.124 818.7287 326 837.2093 325.6279 C 855.6899 325.2558 874.1706 324.1396 891.5349 323.3954 C 908.8992 322.6512 925.6434 321.907 941.3953 321.1628 C 957.1472 320.4186 972.5271 319.6744 986.0465 318.9302 C 999.5659 318.186 1015.3178 317.0698 1022.5116 316.6977 C 1029.7054 316.3256 1028.8373 316.9458 1029.2094 316.6977 C 1029.5815 316.4496 1025.4884 315.4574 1024.7442 315.2093",
  },
  {
    viewBox: "58.2631 210.888 712.6 74.68",
    path: "M 583.4418 239.3023 C 582.8217 239.3023 582.3256 239.3023 579.7209 239.3023 C 577.1162 239.3023 572.6511 239.6744 567.8139 239.3023 C 562.9767 238.9302 559.752 237.9379 550.6977 237.0697 C 541.6434 236.2015 527.1317 234.9612 513.4883 234.093 C 499.8449 233.2248 489.3023 232.7286 468.8372 231.8604 C 448.3721 230.9922 414.5115 229.2558 390.6976 228.8837 C 366.8837 228.5116 347.5349 228.8837 325.9535 229.6279 C 304.3721 230.3721 282.2946 231.7364 261.2093 233.3488 C 240.124 234.9612 221.3953 237.3178 199.4418 239.3023 C 177.4883 241.2868 148.8371 243.2713 129.4883 245.2558 C 110.1395 247.2403 92.6511 249.845 83.3488 251.2093 C 74.0465 252.5736 72.3101 253.1937 73.6744 253.4418 C 75.0387 253.6899 81.1162 253.1938 91.5348 252.6977 C 101.9534 252.2016 117.2093 251.5814 136.186 250.4651 C 155.1628 249.3488 174.3875 247.8604 205.3953 245.9999 C 236.4031 244.1394 287.1317 241.1628 322.2325 239.3023 C 357.3333 237.4418 380.5271 236.4496 416 234.8372 C 451.4729 233.2248 502.3255 230.8682 535.0697 229.6279 C 567.8139 228.3876 588.7752 228.0154 612.4651 227.3953 C 636.155 226.7751 658.4806 226.031 677.2093 225.907 C 695.938 225.783 712.1861 226.279 724.8372 226.6511 C 737.4884 227.0232 748.7751 227.6434 753.1162 228.1395 C 757.4573 228.6356 756.4651 229.1318 750.8837 229.6279 C 745.3023 230.124 732.2791 230.6201 719.6279 231.1162 C 706.9767 231.6123 692.5891 232.1085 674.9767 232.6046 C 657.3643 233.1007 636.5271 233.3488 613.9535 234.093 C 591.3799 234.8372 571.1628 235.5813 539.5349 237.0697 C 507.907 238.5581 457.5503 241.1627 424.186 243.0232 C 390.8216 244.8837 369.1162 246.248 339.3488 248.2325 C 309.5814 250.217 271.1318 252.8217 245.5814 254.9302 C 220.031 257.0387 204.031 259.0232 186.0465 260.8837 C 168.062 262.7442 150.3256 264.7287 137.6744 266.093 C 125.0232 267.4573 114.7287 268.3255 110.1395 269.0697 C 105.5503 269.8139 104.8062 270.6821 110.1395 270.5581 C 115.4728 270.4341 122.0465 269.6899 142.1395 268.3256 C 162.2325 266.9613 201.1782 263.9845 230.6976 262.3721 C 260.217 260.7597 287.876 259.8914 319.2558 258.6511 C 350.6356 257.4108 384.8682 256.0465 418.9767 254.9302 C 453.0852 253.8139 506.4185 252.4495 523.9069 251.9534",
  },
];
---

<section>
  <h2 class="text-xl font-black px-5 mb-4">I worked at:</h2>
  <div class="flex flex-col gap-4">
    <Item
      title="Canonical"
      job="Web engineer"
      location="Remote"
      date="2020 - Now"
      achievements={[
        "Developed and managed a highly successful online shop, which achieved an impressive revenue of 1 million within its inaugural year.",
        "Maintained the website ubuntu.com, a high-traffic platform, ensuring its smooth operation and availability for users.",
        "Contributed to a significant codebase transition by migrating a complex system from AngularJS to React, improving the overall efficiency and maintainability of the application.",
        "Facilitated regular teambuilding meetings, fostering a collaborative and motivated work environment to enhance team cohesion and productivity.",
      ]}
      svg={svgs[0]}
    />
    <Item
      title="TotallyMoney"
      job="Front-end engineer"
      location="Remote / London"
      date="2018 - 2020"
      achievements={[
        "Developed and implemented a cutting-edge web application from scratch, adhering to the JAMstack principle, using Next.js. This resulted in a highly efficient and performant application.",
        "Collaborated closely with designers to execute a comprehensive rebranding initiative, including the creation of a design system and component library. This ensured consistent branding and accelerated the development process.",
        "Adapted swiftly to multiple codebases with diverse technology stacks, showcasing a quick learning ability and flexibility in handling different project requirements.",
        "Maintained and expanded a native application using React Native, further enhancing its functionality and ensuring a seamless user experience across different platforms.",
      ]}
      svg={svgs[1]}
    />
    <Item
      title="DocDoku"
      job="Full-stack engineer"
      location="Toulouse - France"
      date="2016 - 2018"
      achievements={[
        "As a full-stack developer, I held the responsibility of implementing the user interface using AngularJS and undertaking backend development with Meteor. This involved seamlessly integrating front-end and back-end functionalities to deliver robust and efficient solutions.",
      ]}
      svg={svgs[2]}
    />
  </div>
</section>
