---
export interface Props {
  title: string;
}

import "@fontsource/lilita-one";
import "@fontsource/questrial";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent-hue: 204deg;
    --color-primary: calc(var(--accent-hue) + 40deg) 100% 60%;
    --color-secondary: calc(var(--accent-hue) + 130deg) 100% 45%;
    --color-muted: 225deg 15% 50%;
    --color-accent-bg: var(--accent-hue) 67% 85%;
    --color-page-bg: var(--accent-hue) 30% 97%;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #ffffff;
    font-size: 20px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
