---
export interface Props {
  title: string;
}

import "@fontsource/lilita-one";
import "@fontsource/questrial";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="transition-colors">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent-hue: 204deg;
    --color-primary: calc(var(--accent-hue) + 40deg) 100% 60%;
    --color-muted: 225deg 15% 50%;
    --color-accent-bg: var(--accent-hue) 67% 85%;
    --color-page-bg: var(--accent-hue) 30% 97%;
    --color-white-bg: var(--accent-hue) 0% 100%;
    --color-black: var(--accent-hue) 0% 0%;

    --drop-shadow-l: drop-shadow(20px 10px 2.75rem rgba(0, 0, 0, 0.2));

    --animation-duration: 1s;
    --animation-delay: calc(var(--animation-duration) * -1);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #hsl(0deg 0% 100%);
    font-size: 20px;
  }

  .dark {
    --color-primary: calc(var(--accent-hue) + 20deg) 100% 60%;
    --color-accent-bg: var(--accent-hue) 100% 5%;
    --color-page-bg: var(--accent-hue) 65% 15%;
    --color-white-bg: var(--accent-hue) 0% 3%;
    --color-black: var(--accent-hue) 0% 100%;
    --color-muted: 225deg 15% 80%;

    background-color: hsl(0deg 0% 20%);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
